@import url('../src/fonts/fonts.css');

*,
*::before,
*::after {
  font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: seagreen;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #232323;

  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;

  max-height: 100vh;
  width: 100%;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a:not() {
  text-decoration-skip-ink: auto;
}

a {
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
}
